<% provide(:title, 'Ayuda') %>

<h1>Ayuda</h1>
<p>
  Obten ayuda en Tutorial Ruby con Rails en
  <a href="http://railstutorial.org/help">Tutorial Rails, pagina de ayuda</a>.
  Para Obtener ayuda de esta aplicacion, vea
  <a href="http://railstutorial.org/book">Tutorial Rails Libro</a>.

</p>
