<% provide(:title, 'Contacto') %>

<h1>Contacto</h1>
<p>
  Poner en contacto con alguno de los integrantes... puede visitar las intalacionde la Universidad Autonoma de Chihuahua
   de la Facultad de Ingenieria.


</p>
