<!---< % provide(:title, 'Inicio') %>      ---->

<h1>Aplicacion Simple</h1>
<p>
  Esta es la Pagina Principal
  <a href="http://railstutorial.org/">Tutorial Ruby con Rails </a>
  aplicacion de muestra
</p>

