<% provide(:title, 'Sobre Nosotros') %>



<h1>Sobre Nosotros</h1>
<p>
  Somos un equipo el cual trabajamos juntos para la realizacion de este tutorial
  de Ruby, integrado por:

  <br>
  Joel Ricardo Valdez Ruiz
  <br>
  Oscar Alberto Marquez Chavez
  <br>
  Daniela Andrea Nuñez Tapia
</p>
