<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Tutorial Rails</a>
    by losjod
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Nosotros",   sobre_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>